/* .main-body {
  height: 80vh;
  width: auto;
  display: grid;
  justify-content: center;
  background-color: rgba(234, 233, 233, 0.889);
}

.main-body h1 {
  height: 50px;
  width: auto;
  padding: 10px 25px;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  display: grid;
  top: 20px;
  align-items: center;
} */