.onp-home{
    background: url(../../osparfront.jpg) 70% 70% repeat-y;
    height: 100vh;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.onp-mvission {
    display: grid;
    text-align: center;
    margin: 1rem 25%;
    padding: 5  10%;
    text-transform: uppercase;
    user-select: none;
    border-radius: 45px;
}

.onp-mvission .onp-vision {
    line-height: 22px;
    margin: 10px;
    font-weight: 600;
    line-height: 26px;
    }

.onp-vision h2 {
    color: #106536;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
}

.onp-vision p {
    font-size: 16px;
}

.onp-vision {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 6px;
    padding: 12px;
}

.onp-vision ul li {
    list-style: none;
} 

@media (max-width: 1284px) and (min-width: 767px){
    .onp-mvission .onp-vision {
        margin: 20px 15%;
        
    }
    .onp-mvission {
        margin: unset;
        
    }  
   }
   
   @media (max-width: 768px) and (min-width: 567px){
    .onp-mvission .onp-vision {
        margin: 20px auto;
        
    }
    .onp-mvission {
        margin: unset;
        
    }   
   }
   
   @media (max-width: 568px) {
    .onp-mvission .onp-vision {
        margin: unset;
    }
    .onp-mvission {
        margin: unset;
    }   
    .onp-vision h2, p {

    }    
    .onp-mvission .onp-vision .mobile-view li {
        background-color: yellow;
    }
   }