.main-body {
    height: 80vh;
    width: auto;
    display: grid;
    justify-content: center;
}

.pol {
    letter-spacing: 5px;
    border-bottom: 2px dashed black;
    margin-bottom: 6px;
    height: 65px;
    width: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-body {
    height: 10vh;
    width: auto;
    font-size: 10px;
    background-color: rgba(234, 233, 233, 0.889);
}


.main-body h1 {
    display: grid;
    height: 45px;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
}

.main-body .policy-div {
    font-size: 20px;
    background-color: yellow;
    display: grid;
    justify-content: center;
}

.main-body .policy-div ul li{
    display: grid;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.policy-menu ul li {
    display: inline-block;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50px;
    width: auto;
    margin: 0 20px;
    padding: 0 15px;
}

.policy-menu ul li a {
    font-size: 10px;
    color: black;
    padding: 50px;
    list-style: none;
    letter-spacing: 2.5px;
}

.policy-heads {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.policy-heads ul li{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px 10px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 1.5px 5.5px;
    padding: 15px 3px;
    border-radius: 25px;
}  

.policy-heads ul li a {
    color: black;
    text-decoration: none;
}

.policy-heads ul li a h1:hover {
    color: green;
    transition: all 0.3s ease-in-out;
}

.policy-heads ul li a h1 {
    font-size: 23px;
}

.policy-heads .Heads {
    height: 200px;
    width: 200px;
    margin: 5px;
    padding: 0 3px;
    border-radius: 100px;
    border: 0.5px solid black;
}

/* 
@media (max-width: 480px) {
    .pol {
        font-size: 12px;
        letter-spacing: 5px; 
        border-bottom: 2px dashed black;
        margin-bottom: 2px;
        height: 50px;
        width: auto;
        display: grid;
        align-items: center;
        justify-content: center;
    }
} */

@media (max-width: 1284px) and (min-width: 767px){
 .policy-heads {
    background-color: red;
    display: grid;
    grid-auto-flow: rows;
    grid-template-rows: auto auto auto auto;
 }   
}

@media (max-width: 768px) and (min-width: 567px){
  
}

@media (max-width: 568px) {
  
}