/* .main-meddiv ul li .saoLink {
    text-decoration: none;
}

.main-meddiv ul li .saoLink h1 {
    text-decoration: underline;
    color: black;
} */

/* .main-meddiv .adminDivision li h1{
    color: yellow;
    text-decoration: none;
}

.main-meddiv .adminDivision li a {
    text-decoration: none;
} */
.main-meddiv {
    display: flex;
}

@media (max-width: 480px){
    
    
}

