.Navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 75px;
  width: 100vw;
  background-color: #106536;
  border-bottom: 3px solid rgb(170, 226, 222);
  font-weight: 300;
}

.Navbar-header .Navbar-logo img {
  display: flex;
  height: 85px;
  width: 85px;
}

.Navbar-header .Navbar-title {
  display: flex;
  justify-content: end;
  text-align: end;
  align-items: end;
  color: white;
}

.Navbar-menu ul {
  display: flex;
  margin-right: 100px;

}

.Navbar-menu ul li {
  list-style: none;
  margin: 0 22px;
}

.Navbar-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.Navbar-menu a:hover {
  border-bottom: 2px solid #106536; 
  transition: all 0.5s ease-in;
}
