.Navbar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  height: 75px;
  width: 100%;
  background-color: green;
  border-bottom: 3.5px solid rgba(30, 151, 139, 0.845);
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Navbrand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24rem;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.Navbrand-logo img {
  height: 80px;
  width: 80px;
  margin-top: 8.5px;
  margin-right: 15px;
}


.Navbar-menu ul {
  display: flex;
}

.Navbar-menu ul li {
  list-style: none;
  margin: 0 22px;
}

.Navbar-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.Navbar-menu a:hover {
  border-bottom: 2px solid #106536; 
  transition: all 0.5s ease-in;
}

@media (max-width: 1028px){
  .Navbar-container {
    display: grid;
    grid-template-rows: 1fr;
    flex-wrap: nowrap;
    height: 75px;
    width: 100%;
  }
  .Navbar {
    display: flex;
  }
  .Navbrand-logo {
    display: flex;
    justify-content: center;
    margin-left: 16rem;
    font-size: 12px;

  }
  .Navbar-menu {
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: -12rem;
    margin-right: 18rem;
    
  }
  
}
